.c-1a1a1a {
  color: #1a1a1a;
}

._hover-c-ff8600:hover {
  color: #ff8600;
}

.c-999999 {
  color: #999999;
}

.c-ff8600 {
  color: #ff8600;
}

._16jm4kw:hover #logo__mark {
  color: #ff8600;
}

._e16twb:hover #logo__mark__icon {
  color: #ff8600;
}

.bc-efefef {
  background-color: #efefef;
}

._hover-c-white:hover {
  color: white;
}

._hover-bc-ff8600:hover {
  background-color: #ff8600;
}

._hover_div-c-ff8600:hover div {
  color: #ff8600;
}

._hover_div-opacity-1:hover div {
  opacity: 1;
}

._hover_svg-c-ff8600:hover svg {
  color: #ff8600;
}

.lh-0 {
  line-height: 0;
}

.w-100P {
  width: 100%;
}

.m-0_auto {
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

._p_last-of-type-mb-0 p:last-of-type {
  margin-bottom: 0px;
}

.p-0 {
  padding: 0px;
}

.max-width-100P {
  max-width: 100%;
}

.max-height-100P {
  max-height: 100%;
}

.mr-0p5em {
  margin-right: 0.5em;
}

._last-of-type-m-0:last-of-type {
  margin: 0px;
}

.mb-1p5em {
  margin-bottom: 1.5em;
}

.border-none {
  border: none;
}

.d-block {
  display: block;
}

.p-0_4rem {
  padding: 0 4rem;
}

.max-width-560px {
  max-width: 560px;
}

._1re1wwt .attribution {
  text-align: left;
}

._pattribution-w-auto .attribution {
  width: auto;
}

._46bwqc .attribution:before {
  content: ;
}

._pujp80 .attribution:before {
  display: block;
}

._pcaption-w-auto .caption {
  width: auto;
}

._1dxfdx3 {
  justify-content: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.max-width-1288 {
  max-width: 1288px;
}

.w-auto {
  width: auto;
}

.w-initial {
  width: initial;
}

._hover_div-c-1a1a1a:hover div {
  color: #1a1a1a;
}

._hover_svg-c-1a1a1a:hover svg {
  color: #1a1a1a;
}

@media (min-width: 34em) {
  ._m32ct8 {
    color: #1a1a1a;
  }
}

@media screen and (min-width: 1056px) {
  ._19nesb1 {
    padding: 0px;
  }
}

@media screen and (min-width: 1056px) {
  ._jrggmc {
    flex-direction: column;
  }
}

@media screen and (min-width: 1056px) {
  ._552kiq {
    margin: 0 auto 5em;
  }
}

@media screen and (max-width: 544px) {
  ._rna4ro {
    padding: 0px;
  }
}

@media screen and (min-width: 1056px) {
  ._1dby04b {
    max-width: NaNpx;
  }
}

@media screen and (min-width: 545px) and (max-width: 1055px) {
  ._1syob6o {
    max-width: unset;
  }
}

@media screen and (max-width: 544px) {
  ._aylhnx {
    flex-direction: column;
  }
}

@media screen and (max-width: 544px) {
  ._1ovb59i {
    margin: auto;
  }
}

@media screen and (max-width: 544px) {
  ._1oyl2xe {
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  ._1mmfes9 {
    margin: 0px;
  }
}

@media screen and (max-width: 544px) {
  ._duy6tz {
    display: flex;
  }
}

@media screen and (max-width: 544px) {
  ._rv3kk2 {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 544px) {
  ._112lb0a .caption {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1056px) {
  ._192y3bk {
    margin: 0px;
  }
}

@media screen and (min-width: 1056px) {
  ._dc69mj {
    width: 100%;
  }
}

@media screen and (min-width: 1056px) {
  ._1e0lyfy {
    display: flex;
  }
}

@media screen and (min-width: 1056px) {
  ._k6y9ug {
    flex-direction: row;
  }
}

@media screen and (min-width: 1056px) {
  ._1ij7gf7 .attribution {
    width: calc(50% - 280px);
  }
}

@media screen and (min-width: 1056px) {
  ._1xqp4r2 .attribution {
    text-align: right;
  }
}

@media screen and (min-width: 1056px) {
  ._19one4x .attribution {
    padding-left: 6em;
  }
}

@media screen and (min-width: 1056px) {
  ._eugonq .attribution:before {
    content: none;
  }
}

@media screen and (min-width: 1056px) {
  ._l378w0 .caption {
    width: 560px;
  }
}

@media screen and (min-width: 1056px) {
  ._19cu60 {
    max-width: none;
  }
}

@media screen and (max-width: 544px) {
  ._owlpzp {
    padding: 0 1.25em;
  }
}

@media screen and (min-width: 1056px) {
  ._11thage {
    padding: 0 4em;
  }
}

@media screen and (min-width: 1056px) {
  ._5bnyf3 {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1056px) {
  ._r0uckh {
    max-width: 920px;
  }
}

@media screen and (min-width: 1056px) {
  ._w5yhbv {
    width: 18em;
  }
}

@media screen and (min-width: 545px) and (max-width: 1055px) {
  ._191d351 {
    padding: 0 4em;
  }
}

@media screen and (min-width: 1056px) {
  ._1e2ynmw {
    padding: 0 0 0 2em;
  }
}

@media screen and (min-width: 1056px) {
  ._kliv3d {
    max-width: 300px;
  }
}
